@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Expletus Sans', cursive;
  font-weight: 200;
}

.topbar {
  background: teal;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding:5px;
}

.topbarMessage {
  color: #ffffff;
  padding: 5px;
}

.hamburger{
  display:flex;
  justify-content:center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex: wrap;
  padding: 10px 20px;;
  background-color:antiquewhite;
}
.navContainer{
  display:flex;
  justify-content:center ;

}
.icon{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.icon:hover{
  scale:1.1;
  cursor:pointer;
}
.bakeryName{
  font-family: 'Expletus Sans', cursive;
  
}
.navItems {
  display:flex;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
}

.navItems > a > li{
  margin:0px 15px;
}

.banner{

}

.pitch{
  display:flex;
  text-align:center;
  justify-content: center;
  margin:20px;
}
.flagImage{
  width:100px;
  height:70px;
}
.pitchText{
color:black;
  
}
.bannerImg{
 

}

.banner{
  text-align: center;
}

.navItemsContainer{
display: flex;
justify-content: center;
align-items:center;
}
.navItem{
  margin:10px;
}


.icon{
  display:none;
}
.bannerImg{
  height:30vw;
}

.locationCard{
  background-color:rgb(162, 141, 182);
  padding:30px;
  border-radius:10px;
}

.location{
  align-items: center;
}
@media only screen and (max-width: 900px){
  body{
   
  }
  .navItems{
    display:none;
  }
 
  .navbar{
    text-align:center;
    justify-content: space-between;
  }
  .navContainer{
    text-align:center;
    display:flex;
    justify-content: space-between !important;
  }
  .flagImage{
    display:none;
  }
  .icon{
    display:flex;
  }
  .bannerImg{
    height:60vw;
  }
  .topbarButton{
    display:none;
    
  }
  .topbar{
    justify-content: center;
    
  }

}
